@import "tailwindcss";

@theme {
    --font-sans: "Mona Sans Variable", ui-sans-serif, system-ui, sans-serif;

    --color-primary: #d44e65;
    --color-primary-hover: #b94257;

    --radius-DEFAULT: 0.75rem;
    --radius-md: 1rem;
    --radius-lg: 1.5rem;
}

@layer base {
    body {
        @apply font-sans bg-white text-gray-900 antialiased;
    }

    h1,
    .title {
        @apply text-4xl md:text-5xl font-extrabold tracking-tight text-gray-900;
    }

    h2,
    .subtitle {
        @apply text-xl md:text-2xl font-semibold text-gray-800;
    }

    p,
    .text-normal {
        @apply text-base font-medium text-gray-600;
    }
}